@import "./src/styles/vars";

.input {
  height: 45px;
  padding: 8px 12px;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #a2a2a2;
  border-radius: 8px;
  outline: none;

  &:focus {
    border-color: $color-primary;
  }

  &::placeholder {
    font-size: 12px;
  }
}
