.card {
  min-height: 50px;
  padding: 16px;
  color: #363636;
  line-height: 1;
  text-align: center;
  background-color: rgba(227, 227, 227, 0.44);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    background-color: #fafafa;
  }
}
