.board {
  display: flex;
  gap: 16px;
  width: 100%;

  .col {
    flex: 1;
    padding: 0 12px 12px;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.1s linear;

    > * + * {
      margin-top: 8px;
    }

    &.highlight {
      border-color: #8300ff;
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding: 16px 0;
  }

  .header-icon {
    width: 28px;
    margin-right: 10px;
  }

  .header-text {
    color: #333;
    font-weight: 600;
    text-transform: capitalize;

    span {
      position: relative;
    }
  }

  .header-count {
    position: absolute;
    top: -7px;
    right: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border: 1px solid #333;
    border-radius: 50%;

    & span {
      display: inline-block;
      color: #333;
      font-weight: 700;
      font-size: 11px;
      line-height: 1.2;
    }
  }

  .card-placeholder {
    display: none;
    min-height: 50px;
    padding: 16px;
    color: #484848;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px 2px #e5e5e5;
    opacity: 0.5;

    &.highlight {
      display: block;
    }
  }
}
