@import "./vars";

body {
  overflow: auto;
  color: $color-primary;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  background: url("../../src/assets/images/default-bg.png") no-repeat;
  background-size: cover;
}

.mask {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.hello-block {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background-color: rgba(185, 185, 185, 0.25);

  h1 {
    color: #d9d9d9;
    font-size: 66px;
  }
}
