$font-family: "Roboto", sans-serif;
$font-size: 18px;
$line-height: 1.4;
$color-primary: #333;
$color-scroll-thumb: rgba(194, 194, 194, 0.9);
$color-scroll-thumb-hover: rgba(194, 194, 194, 0.5);
$color-scroll-track: #fafafa;
