.sidebar-inner {
  padding: 26px 10px;

  .logo {
    width: 80px;
    margin-left: 16px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    > * + * {
      margin-top: 4px;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    color: #6e6e6e;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.1s linear;

    & span {
      margin-top: 4px;
    }

    &.active,
    &:hover {
      color: #333;
      background-color: #f2f2f2;
    }
  }

  .nav-link-icon {
    display: flex;
    align-items: center;
    width: 25px;
    margin-right: 12px;
  }

  .icon {
    margin: 0 auto;
    color: #6e6e6e;
  }
}
