.registration-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 16px;

  > * + * {
    margin-left: 8px;
  }

  .text {
    font-size: 14px;
  }

  .link {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: 500;
      font-size: 22px;
    }
  }
}
