@import "./vars";

body {
  overflow: auto;
  color: #333;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  background-color: #f7f7f7;
}

.page {
  display: flex;
  min-height: 100vh;
  padding: 60px 0;
  background-color: #f2f2f2;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px 8px #efefef;
}
